/*fonts
font-family: 'Roboto ', sans-serif;
font-family: 'Playfair', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "./vars";

/*reset bootstrapp*/
html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: $gray-brackground;

  h1 {
    font-size: 5em;
    font-family: "Playfair Display", serif;
    z-index: 1;

    @media (max-width: $break-small) {
      font-size: 3em;
    }

    span {
      color: $blue-primary;
      font-weight: bolder;
    }
  }

  p {
    font-size: 1.56em;

    @media (max-width: $break-small) {
      font-size: 1.3em;
    }
  }

  .btn {
    border-radius: 2rem;
    padding: 0.5em 5em;
    background-color: $blue-primary !important;
    border-color: unset !important;
    transition: all 0.2s linear;
    &:hover {
      background-color: $blue-hover !important;
    }
  }

  .header-wave {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 18vh;
    bottom: 0;
    overflow: hidden;

    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: url("../assets/wave.png");
      background-size: 1000px 100px;
      animation: wave-animation 15s linear infinite;
      @media (max-width: $break-small) {
        animation-duration: 8s;
      }
    }
  }
}

/*works section*/

.works-section {
  h2 {
    font-size: 2.5em;
    font-weight: bold;
  }

  .card-deck {
    @media (max-width: $break-small) {
      flex-direction: row !important;
    }

    @media (max-width: $break-medium) {
      flex-direction: row !important;
    }

    .card-works {
      a {
        color: $dark-background;

        &:hover {
          text-decoration-color: $light-blue;
        }
      }

      .card {
        border: none !important;
        padding: 0 !important;

        @media (max-width: $break-medium) {
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        }

        .card-img-top {
          height: 20em;
          object-fit: cover;
          object-position: top;
          transition: all 0.3s ease-out;

          &:hover {
            height: 25em;
            opacity: 0.8;
          }

          @media (max-width: $break-small) {
            height: 11em;
          }

          @media (max-width: $break-medium) {
            height: 23em;
          }
        }
      }
    }
  }

  .btn-repo {
    background-color: transparent;
    color: $blue-primary;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 600;
    border: 4px solid;
    transition: all 0.3s ease 0s;

    .github-icon {
      background-image: url(../assets/github-blue.svg);
      background-repeat: no-repeat;
      width: 40px;
      background-size: contain;
      height: 31px;
      background-position: center;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      background-color: $blue-primary;
      color: white;
    }
    &:active {
      background-color: $blue-primary !important;
      border-color: $blue-primary !important;
    }
  }
  .btn-repo:hover > .github-icon {
    background-image: url("../assets/github.svg");
  }
  .btn-repo:active > .github-icon {
    background-image: url("../assets/github.svg");
  }
}

/*Skills section*/

.skills-section {
  background-color: $gray-section;

  .skills-item {
    margin-bottom: 1em;

    button {
      cursor: unset;
      width: inherit;
      background: unset !important;
      border: 0;
      padding: 0;
    }

    img {
      height: 103px;
      object-fit: scale-down;
    }
  }
}

/*About me Section*/
.aboutme-section {
  color: white;
  background-color: $dark-background;

  h2 {
    font-size: 3.5em;

    @media (max-width: $break-small) {
      font-size: 2.5em;
    }
  }

  h3 {
    color: $light-blue;
  }

  .aboutme-image {
    img {
      position: relative;
      z-index: 1;
      width: 30em;
    }
  }

  .aboutme-contacme {
    img {
      width: 3em;
    }
  }
}

/*components*/

.item-hover {
  &:hover {
    opacity: 0.8;
  }
}

.box-orange {
  box-shadow: 20px -14px 0px 0px $orange;
}

.box-light-blue {
  box-shadow: -20px -14px 0px 0px $light-blue;
}

.section-title {
  &::before {
    content: "";
    display: block;
    width: 2em;
    background-color: $blue-primary;
    height: 4px;
    border-radius: 0.5rem;
    margin: 0 auto 0.4em;
  }
}

.section-title--orange {
  &::before {
    background-color: $orange;
  }
}

.copyrights {
  background-color: $dark-copyright;

  img {
    width: 2em;
  }
}

/*animateions */

@keyframes wave-animation {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}
