/*color pages*/

$blue-primary : #016481;
$celestial: #36D9C8;
$orange: #FD8052;
$gray-brackground: #F2F2F2;
$gray-section: #F5F5F5;
$dark-background: #423E3F;

/*
    Break Points
*/
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;