/*fonts
font-family: 'Roboto ', sans-serif;
font-family: 'Playfair', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "./vars";


/*reset bootstrapp*/
html,
body {
  
    font-family: 'Roboto', sans-serif;
 }

 section{
    scroll-behavior: smooth; 
    transition: all 1s ease-in-out;
 }
 header{

     background-color: $gray-brackground;
    h1{
        font-size: 5em;
        font-family: 'Playfair Display', serif;
        z-index: 1;

        span{
            color: $blue-primary;
            font-weight: bolder;
        }

       
    }

    p{
        font-size: 1.56em;
        @media(max-width: $break-small){
            font-size: 1.3em;
        }
    }

    .btn{
        border-radius: 2rem;
        padding: 0.5em 5em;
        background-color: $blue-primary !important;
        border-color: unset !important;
    }

    .header-wave{
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        height: 18vh;
        bottom: 0;
        overflow: hidden;

        .wave{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: url('../assets/wave.png');
            background-size: 1000px 100px;
            animation: wave-animation 15s linear infinite;
        }
    }
     
 }

 /*works section*/

 .works-section{

    h2{
        font-size: 2.5em;
        font-weight: bold;
    }

    .card-deck{
        @media (max-width: $break-small){
            flex-direction: row !important;
        }

        
        .card{
            border: none !important;
            @media (max-width: $break-small) {
                //width: 90vw;
                //height: 50vh;
            }
            .card-img-top{
                    height: 20em;
                    object-fit: contain;
                    object-position: top;
                 @media (max-width: $break-small) {
                     object-fit: cover;
                    height: 16em;
                }
            }

            
            
        }
    }
    
 }

 /*Skills section*/
 
 .skills-section{
     background-color: $gray-section;
    

     .skills-item {
         margin-bottom: 1em;
         button{
             width: inherit;
             background: unset !important;
             border: 0;
             padding: 0;
         }
        img{
            height: 103px;
            object-fit: scale-down;
        }
       
    }
 }

 /*About me Section*/
 .aboutme-section{
    color: white;
     background-color: $dark-background;
     h2{
         font-size: 3.5em;
     }

     h3{
         color: $celestial;
     }
     .aboutme-image{
         img{
             position: relative;
             z-index: 1;
             width: 30em;
         }
     }
     .aboutme-contacme{
         img{
             width: 3em;
         }
     }
     
     
 }
 /*components*/

 .dot {
    height: 13em;
    width: 13em;
    left: -23px;
    background-color: $celestial;
    opacity: 0.4;
    border-radius: 50%;
    z-index: 0;
    @media (max-width: $break-small){
        display: none;

    }
    
  }
  /*
  .rect{
    background-color: $orange;
    width: 19vw;
    top: -14px;
    right: -7px;
    height: 54vh;
    z-index: 0;
    @media(max-width: $break-small){
      
            width: 51vw;
            right: 1px;
            height: 47vh;
  
    }

}*/
.box-orange{
    box-shadow: 20px -14px 0px 0px $orange;
        
}
.box-celestial{
    box-shadow: -20px -14px 0px 0px $celestial;
}

  .section-title{

    &::before{
        content: "";
        display: block;
        width: 2em;
        background-color: $blue-primary;
        height: 4px;
        border-radius: .5rem;
        margin: 0 auto .4em;
    }
    
  }
  .section-title--orange{
      &::before{
          background-color: $orange;
      }
  }

.copyrights{
    background-color: $dark-copyright;
}
  /*animateions */

  @keyframes wave-animation{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
  }


  .lines {
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
  }
  
  @media only screen and (max-width: 1200px) {
    svg { height:900px; }
  }